.baseHomeAbout .introBtn{
    width: 120px;
    height: 40px;
    font: 500 13px "sans-serif";
    overflow: hidden;
    cursor: pointer;
    z-index: 1000;
    position: relative;
    color:white;
}
.baseHomeAbout .introBtn span{
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}

.baseHomeAbout .introBtn:hover span {
    width: 100%;
}

.baseHomeAbout .introBtn:hover{
    background: transparent !important;
}
