.Header .icon {
    transition: transform 0.3s ease;
}

.Header .line {
    fill: white;
    transition: all 0.3s ease;
}

.Header .navbar-toggler:hover .line1 {
    transform: translateY(-6px) rotate(45deg);
}

.Header .navbar-toggler:hover .line2 {
    transform: translateY(6px);
    opacity: 0;
}

.Header .navbar-toggler:hover .line3 {
    transform: translateY(6px) rotate(-45deg);
}

.Header .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}
