 .introBtn{
    width: 120px;
    height: 40px;
    font: 500 13px "sans-serif";
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
    position: relative;
    color:white;
     border-radius: 10px;
}
.introBtn span{
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}
.introBtn:hover span {
    width: 100%;
}
.introBtn:hover{
    background: transparent !important;
}
